$fg: #FFFFFF;
$bg: #000000;

* {
  font-family: Fira Code, Symbols Nerd Font Mono;
  font-size: 15px;
}

window.bar {
    background-color: $bg;
    color: $fg;
}

// .module {
//     margin-left: 5px;
//     margin-right: 5px;
// }

.bar button {
    padding-left: 5px;
    padding-right: 5px;
    background: $bg;
    border-radius: 0px;
    border-color: $bg;
}

.bar button:hover{
    background: #666666; 
}

.bar button.focused{
    // When the workspace is being shown, and the monitor is focused.
    box-shadow: inset 0 -3px $fg;
}

.bar button.active{
    // When the workspace is being shown, and the monitor is focused.
    box-shadow: inset 0 -3px $fg;
}

.battery .critical {
    color: #FF0000;
}


window#notifications {
    all: unset;
}

window#notifications box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: $fg
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid $fg;
    background-color: $bg;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $fg;
    font-size: 1.4em;
}

.body {
    color: $fg;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

