[submodule "dwmblocks"]
	path = dwmblocks/.config/dwmblocks
	url = ../dwmblocks.git
	branch = master
[submodule "dwm"]
	path = dwm/.config/dwm
	url = ../dwm.git
	branch = master
[submodule "nvim"]
	path = nvim/.config/nvim
	url = ../nvim.git
	branch = master
[submodule "st"]
	path = st/.config/st
	url = ../st.git
	branch = master
