[submodule "dwm"]
    path = dwm/dot-config/dwmblocks
    url = ../dwm.git
    ignore = all
[submodule "st"]
    path = st/dot-config/st
    url = ../st.git
    ignore = all
[submodule "dwmblocks"]
    path = dwmblocks/dot-config/dwmblocks
    url = ../dwmblocks.git
    ignore = all
[submodule "nvim"]
    path = nvim/dot-config/nvim
    url = ../nvim.git
    ignore = all

