configuration {
  font: "FiraCode 12";
  kb-cancel: "Super+q,Escape,Control+c";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}


@theme "theme"

